---
interface Props {
  href: string
  text: string
  variant?: "primary" | "secondary"
  isDownload?: boolean
}
const { href, text, variant = "primary", isDownload = false } = Astro.props
---

{
  isDownload && (
    <a class={variant + " button-link"} download={isDownload} href={href}>
      {text}
    </a>
  )
}
{
  !isDownload  && (
    <a class={variant + " button-link"} href={href}>
      {text}
    </a>
  )
}

<style>
  .button-link {
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 1.5em;
    width: 100%;
  }

  .primary {
    background-color: var(--clr-darkest);
    color: white;
  }

  .secondary {
    background-color:var(--clr-lightest);
    color: var(--clr-accent);
    border: 1px solid var(--clr-accent);
  }
</style>
