---
import Section from "../components/Section.astro"
import { getCollection } from "astro:content"
import Card from "./Card.astro"

const policies = await getCollection("policy")
---

<Section dark={true} id="policies">
  <h2>Our Policies</h2>
  <div class="policy-container">
    {
      policies.map((policy) => (
        <Card
          image={policy.data.image}
          title={policy.data.title}
          description={policy.data.description}
          links={policy.data.links}
        />
      ))
    }
  </div>
</Section>
