---
import { getCollection } from "astro:content"
import Section from "./Section.astro"
import ButtonLink from "./ButtonLink.astro"
import Card from "./Card.astro"

const projects = await getCollection("project")
---

<Section dark={true} id="projects">
  <h2>Our Projects</h2>

  <div class="card-container">
    {
      projects.map((project) => (
        <Card
          image={project.data.image}
          title={project.data.title}
          description={project.data.description}
          links={project.data.links}
          tags={project.data.tags}
        />
      ))
    }
  </div>
</Section>

<style>
  .card-container {
    display:grid;
    grid-template-columns: 1fr;
    gap: 2rem;


    width:100%;
    /* background:red; */
  }
</style>
