---
import heroLogo from "../assets/BTGHero.svg"
import smallLogo from "../assets/BTGSmall.svg"
import { m } from "../paraglide/messages.js"

const today = new Date()
const year = today.getFullYear()
---

<footer>
  <div class="column">
    <div class="logo">
      <picture class="hero-logo">
        <source srcset={heroLogo.src} media="(width > 1200px)" />
        <source
          srcset={heroLogo.src}
          media="(width < 1200px) and (width > 300px)"
        />
        <source srcset={smallLogo.src} media="(width < 300px)" />
        <img class="hero-logo" src={heroLogo.src} alt={m.logo_alttext()} />
      </picture>
    </div>
    <div class="vision">
      <p>
        {m.mission()}
      </p>
    </div>
  </div>
  <div class="links">
    <div class="links-row top">
      <a class="main-link" href="#">{m.about_header}</a>
      <a href="#" class="main-link">{m.nonprofits()}</a>
      <a href="#" class="main-link">{m.getinvolved_header()}</a>
    </div>
    <div class="links-row bottom">
      <a class="main-link" href="#">{m.linkedin()}</a>
      <a href="#" class="main-link">{m.instagram()}</a>
      <a href="#" class="main-link">{m.facebook()}</a>
    </div>
  </div>

  <div class="bottom-container">
    <div class="copyright">
      <small>&copy;{year} {m.footer_copyright()}</small>
    </div>
  </div>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    justify-items: end;
    align-items: start;
    width: 100%;
    padding-bottom: 0;
    bottom: 0;
    background-color: var(--clr-accent);
    padding-top: 1em;
    padding-inline: 3em;
    container-type: inline-size;
    container-name: footer;

    @media screen and (width < 1000px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (width < 600px) {
      padding-top: 0.5em;
      display: flex;
      justify-items: start;
    }

    .hero-logo {
      height: 4em;
      margin-bottom: 1em;
    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;
    }

    .links {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 1em;
      @container footer (width < 600px) {
        & {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5em;
        }
      }
    }

    .top {
      align-self: start;
    }

    .links-row {
      padding-left: 20rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      justify-content: space-between;
      @container footer (width < 600px) {
        & {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding-left: 0;
        }
      }
    }

    .bottom {
      align-self: end;
      padding-left: 30rem;
      @container footer (width < 600px) {
        & {
          padding-left: 0;
        }
      }
    }

    .spread {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 0.5em;
      align-items: flex-end;
      @container footer (width < 600px) {
        & {
          align-items: flex-start;
        }
      }
    }

    small {
      font-size: 0.6em;
    }

    .secondary-link {
      font-size: 0.75em;
    }

    .copyright {
      padding-left: 0.5rem;
    }

    .bottom-container {
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }
  }
</style>
