---
import { getImage } from "astro:assets"
import { Image } from "astro:assets"
import strings from "../data/strings.json"

import codeImage from "../assets/code.webp"

import heroLogo from "../assets/BTGHeroLight.svg"
import smallLogo from "../assets/BTGSmall.svg"
import Section from "../components/Section.astro"

const optimizedBackground = await getImage({ src: codeImage })

const topLogo = true;
let heroAlign
if(!topLogo) {
  heroAlign="center"
} else {
  heroAlign="left"
}

---

<Section main={true} id="home">
  <div tabindex="0" class="hero">
    <!-- Background -->
    <!-- This is really slow in Dev, but fine in prod -->
    <Image src={codeImage} alt={strings["hero.backgroundimage.alt"]} class="background-image" />
    <!-- Content -->
    <div class="hero-content">
      {topLogo && 
      <picture>
        <source 
          srcset={smallLogo.src} 
          media="(width > 1200px)" 
        />
        <source
          srcset={heroLogo.src}
          media="(width < 1200px) and (width > 300px)"
        />
        <source 
          srcset={smallLogo.src} 
          media="(width < 300px)" 
        />
        <img class="hero-logo" src={heroLogo.src} alt={strings["logo.alttext"]} />
      </picture>
      }
      <div class="hero-text">
        <h1>
          {strings["mission"]}
        </h1>
      </div>
    </div>
  </div>
</Section>

<style define:vars={{heroAlign}}>
  .hero {
    position: relative;
    container-type: inline-size;
    container-name: hero;
    overflow:hidden;
  }

  .hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @container hero (width < 1200px) {
      & {
        flex-direction: column;
        
      }
    }
    @container section (width < 1200px) {
      & {
        flex-direction: column;
      }
    }
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background:var(--clr-darkest);
  }

  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-text {
    padding: 4em;
    color: #fff;
    text-align: var(--heroAlign);
    @container main (width < 1200px) {
      & {
        padding: 2em;
        text-align: center;
      }
    }

    @container section (width < 1200px) {
      & {
        padding: 2em;
      }
    }
  }

  .hero-logo {
    max-width: unset;
    padding-inline: 2em;
    height: 100%;

    @container main (width < 1200px) {
      & {
        padding-top: 2em;
        max-width: 100%;
      }
      /* Currently the hero is only in the main section, but it could conceptually be anywere. */
      @container section (width < 1200px) {
        & {
          padding-top: 2em;
          max-width: 100%;
        }
      }

      @container main (width < 600px) {
        & {
          padding-top: 1em;
          max-width: 100%;
          height: 100px;
        }
      }
      /* Currently the hero is only in the main section, but it could conceptually be anywere. */
      @container section (width < 600px) {
        & {
          padding-top: 1em;
          max-width: 100%;
          height: 100px;
        }
      }
    }
  }
</style>
